@using Stravaig.Gedcom.Model
@using Stravaig.FamilyTree.Blazor.Shared.Date
@using Stravaig.FamilyTree.Blazor.Services
@using Stravaig.FamilyTree.Blazor.Shared.Timeline
<td scope="col"><ShortDate Date="@Entry.Date" /></td>
<td scope="col"><SubjectEntryItem Entry="@Entry" /></td>
<td scope="col"><SubjectEntryDescription Entry="@Entry" /></td>
<td scope="col"><TimelineEntrySources Entry="@Entry"/></td>
<td scope="col"><TimelineEntryNotes Entry="@Entry"/></td>

@code {
  [Parameter]
  public TimelineEntry Entry { get; set; }
}
